.about__container{
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 10%;
}
.aboutme{
    color: rgb(249, 249, 249);
    font-family: 'Trebuchet MS', serif;
    font-style:unset;
    margin-left: 30%;
    font-size: 40px;
}
.about__me{
    width: 100%;
    aspect-ratio: 1/1;
    /* background: linear-gradient(45deg, transparent,rgb(205, 205, 176), transparent);  */
    display: grid;
    place-items: center;
    border-radius: 5rem;
}

.about__me-image{
   
    /* transform: rotate(9deg);  */
    overflow: hidden;
    max-width:65%;
    max-height:80%;
    border-radius: 3rem;
   
}
 .about__card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    margin-bottom: 3rem;
    margin-top: 2rem;
}
.about__cards
{
    
    /* background: var(--color-bg-variant); */
    background: rgb(45, 2, 45);
    border: 1px solid transparent;
     text-align: center;
    border-radius: 2rem;
    padding: 2rem;
    max-width: 200px;
    max-height: 300px;
    font-size: medium;
    transition: var(--transition);
}

 .about__cards small{
    color:#e6b2e4;
}

.about__cards:hover{
   background: transparent;
   /* border-color: var(--color-primary-variant); */
   border-color: var(--color-primary);
   cursor: default;
}

.about__icon{
    margin-bottom: 1rem;
    /* color: var(--color-primary); */
    font-size: 1.6rem;
    color: white;
}



.about__cards h5{
    margin-bottom: 1rem;
    font-size: 0.9rem;
}

.about__cards small{
    font-size: 0.85rem;
    font-weight: 50;
    font-style: bold;
    color: var(--color-light);
}

.about__content p{
    color: white;
    text-align: justify;
    margin-bottom: 1rem;

}


@media screen and (max-width: 1024px) {
    .about__container{
grid-template-columns: 1fr;
gap: 0;
    }
    .about__me{
        width: 50%;
        margin: 2rem auto;
    }
    .about__content p{
        margin: 1rem 0 2rem;
    }
}
    /* Small devices (phone) */

@media screen and (max-width: 600px) {
    .about__card{
        left: auto;
        right: auto;
        grid-template-columns: 1fr 1fr;
        gap: 0;
            }
            .about__me{
                width: 66%;
                margin: 0 auto 2rem;
            }
            .about__content{
                text-align: center;
            }
            .about__content p{
                margin: 1.5rem 0;
            }
        }