
header{
    padding-top: 7rem;
    overflow: hidden;
    background-image:url("../../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
    width: 100%;

}
h1{
    font-family: 'Times New Roman';
    font-style: italic;
    font-weight: lighter;
 
    font-size: 80px;
   
}
.header__container h3{
    color: #e6b2e4;
}

.header__container{
    text-align: center;
    height: 100%;
    position: relative;
    width: 100%;
    
}

/* Button styling */

.cta{
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    
}
/* h5{
    color: #e6b2e4;
} */



 /* .me{
    background: linear-gradient(var(--color-primary), transparent);
    height: 25rem;
    width:20rem;
    margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  padding: 5rem 2rem 2rem 2rem;

 } */
 

 /* .scroll__down{
  position: absolute;
  transform: rotate(90deg);
  right:-2.3rem;
  bottom: 3rem;
  font-weight: 200;
  overflow: visible;
  padding: 5rem 2rem 2rem 2rem;

 } */

 /* Medium devices (tablets) */

@media screen and (max-width: 1024px) {
    .header{
        height: 68vh;
    
    }
}
    /* Small devices (phone) */

@media screen and (max-width: 600px) {
    .header{
        height: 100vh;
    }
}