nav{
background: rgba(0.3,0.3,0.3,0.3) ;
width: max-content;
display: block;
padding: 0.5rem 1.5rem;
 
z-index: 5;
position: fixed;
left: 50%;

transform: translateX(-50%);
bottom: 3rem;
display: flex;
border-radius: 2rem;
gap: 1rem;
backdrop-filter: blur(2px);
}

nav a{
    background: transparent;
    padding: 0.5rem;
    display: flex;
    color: whitesmoke;
    border-radius: 100%;
    font-size: 1.2rem;
}

nav a:hover{
    background: #0a251d;

}

nav a.active{
    background: var(--color-bg);
    color: var(--color-white);
    
}